/* CSS for section home */

#home {
  background-color: rgb(36, 33, 33);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  max-width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.row:first-child {
  grid-template-columns: 1fr 1fr;
}

/* CSS for cards */

.card {
  height: 300px;
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
}

.card .title {
  font-size: 1.6rem;
  text-align: center;
}

.card .description {
  font-size: 1rem;
  text-align: center;
}

.card .button {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 30px;
  transition: box-shadow 0.2s ease-out;
}

.card .button:hover {
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5);
}

.card .button a {
  font-size: 0.9rem;
}

.height-400 {
  height: 400px;
}

/* CSS for section about */

#about {
  background-color: rgb(49, 49, 49);
  padding-top: 20px;
}

.section-title {
  color: white;
  font-size: 1.1rem;
  width: fit-content;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 40px;
  margin-bottom: 20px;
}

.about-desc p,
li {
  color: white;
  font-size: 0.9rem;
  word-spacing: 0.3rem;
  line-height: 1.3rem;
}

/* CSS for section contact */

#contact {
  background-color: rgb(36, 33, 33);
  padding-top: 20px;
}

form input,
textarea {
  width: 50%;
  padding: 10px 15px;
  color: #fff;
  font-size: 1.1rem;
  margin: 0.4rem 0;
  background-color: #191919;
  border: none;
  border-radius: 10px;
}

.btn {
  width: 15%;
  cursor: pointer;

  transition: background-color 0.2s ease-out;
}

.btn:hover {
  background-color: rgba(19, 18, 18, 0.788);
}

/* >= 1400px */

@media screen and (max-width: 1400px) {
  form input,
  textarea {
    width: 60%;
  }
}

/* >= 1200px */

@media screen and (max-width: 1200px) {
  .card .title {
    font-size: 1.5rem;
  }

  .btn {
    width: 20%;
  }
}

/* >= 992px */

@media screen and (max-width: 992px) {
  .card .title {
    font-size: 1.2rem;
  }

  .card .description {
    font-size: 0.9rem;
  }

  .card .button {
    padding: 8px 25px;
  }

  .section-title {
    font-size: 0.9rem;
  }

  .about-desc p,
  li {
    font-size: 0.8rem;
  }

  form input,
  textarea {
    font-size: 1rem;
  }
}

/* >= 768px */

@media screen and (max-width: 768px) {
  #home {
    flex-direction: row;
    overflow-x: scroll;
    padding: 10px;
  }

  .height-400 {
    height: 300px;
  }

  #home::-webkit-scrollbar {
    display: none;
  }

  .row {
    min-width: fit-content;
  }

  .card {
    min-width: 400px;
  }

  .card .title {
  }

  .card .description {
    height: 50px;
    overflow-y: scroll;
  }

  .card .description::-webkit-scrollbar {
    display: none;
  }

  form input,
  textarea {
    width: 80%;
  }

  .btn {
    width: 30%;
  }
}

/* 0px -> 576px */

@media screen and (max-width: 576px) {
  .card .title {
    font-size: 1.7rem;
  }

  .section-title {
    /* font-size: 1.5rem; */
  }

  form input,
  textarea {
    width: 90%;
  }

  .btn {
    width: 40%;
  }

  form input,
  textarea {
    font-size: 0.9rem;
  }
}
