/* CSS for section home */

#home {
  margin-top: 10px;
  background-color: rgb(36, 33, 33);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row:first-child {
  grid-template-columns: repeat(2, 1fr);
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* CSS for cards */

.card {
  min-width: 100%;
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
  object-fit: cover;
  object-position: center;
  padding: 40px 20px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 10px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .title {
  font-size: 25px;
  height: 90px;
  text-align: center;
}

.card .description {
  font-size: 1rem;
  height: 90px;
  text-align: center;
  overflow: scroll;
}

.card .button {
  border: 2px solid white;
  border-radius: 10px;

  padding: 10px 30px;

  transition: box-shadow 0.2s ease-out;
}

.card .button:hover {
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5);
}

/* CSS for section about */

#about {
  background-color: rgb(49, 49, 49);
  padding-top: 20px;
}

.section-title {
  color: white;
  font-size: 2rem;
  width: fit-content;
  padding: 10px 25px;
  border: 2px solid white;
  border-radius: 40px;
  margin-bottom: 20px;
}

.about-desc p,
li {
  color: white;
  font-size: 1.2rem;
  word-spacing: 0.3rem;
  line-height: 1.5rem;
}

/* CSS for section contact */

#contact {
  background-color: rgb(36, 33, 33);
  padding-top: 20px;
}

form input,
textarea {
  width: 50%;
  padding: 15px;
  color: #fff;
  font-size: 1.3rem;
  margin: 0.4rem 0;
  background-color: #191919;
  border: none;
  border-radius: 10px;
}

.btn {
  width: 15%;
  cursor: pointer;

  transition: background-color 0.2s ease-out;
}

.btn:hover {
  background-color: rgba(19, 18, 18, 0.788);
}

/* >= 768px */

@media (max-width: 769px) {
  .container {
    padding: 20px 0;
    flex-direction: row;
    overflow-x: scroll;
    gap: 30px;
  }

  .row {
    gap: 30px;
  }

  .card {
    min-width: 400px;
  }
}

/* >= 425px */

@media (max-width: 426px) {
  .card {
    min-width: 300px;
    gap: 0;
  }
}
