body {
  background-color: rgb(49, 49, 49);
  margin: 0%;
}

section {
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 40px;
  color: white;
  font-size: 17px;
  line-height: 25px;
}

section h1 {
  text-align: left;
  margin-left: 0;
}

.content {
  padding-top: 40px;
  border-bottom: 1px solid gray;
}

.content img {
  height: 50%;
  padding: 10px;
}

.content span {
  color: rgb(253, 253, 133);
}

.content table {
  border: 1px solid grey;
  width: 100%;
  border-collapse: collapse;
}

.content table th {
  border: 1px solid grey;
}

.content table td {
  padding: 5px;
  border: 1px solid grey;
}
