* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: rgb(36, 33, 33);
}

/* CSS for header */

header {
  background-color: black;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 5;
}

h1 {
  color: white;
  font-size: 3rem;
}

#navbar {
  display: flex;
}

a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 25px;
  list-style: none;
}

#menu-logo {
  color: white;
  font-size: 2.2rem;
  margin: 0 20px;
  display: none;
}

/* CSS for sections */

section {
  max-width: 100%;
  padding: 0px 5%;
  padding-bottom: 20px;
}

/* CSS for footer */

footer {
  background: black;
  color: white;
  max-width: 100%;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

footer img {
  width: 6%;
  margin: 20px 20px;
}

footer p {
  width: max-content;
  font-size: 1.1rem;
  line-height: 1.9rem;
}

/* 0px -> 576px */
@media screen and (max-width: 576px) {
  #navbar nav {
    display: none;
  }

  #menu-logo {
    display: block;
  }

  footer img {
    width: 12%;
  }

  footer p {
    font-size: 1rem;
  }
}
