section div h1 {
  text-align: left;
  margin: 30px 0;
  font-size: 2rem;
}

section div h2 {
  text-align: left;
  margin: 20px 0;
  font-size: 1.5rem;
}

section div h3 {
  text-align: left;
  margin: 20px 0;
  font-size: 1.2rem;
}

.content {
  padding: 40px 0;
  border-bottom: 1px solid gray;
}

.content article ul li {
  font-size: 1rem;
  line-height: 2rem;
}

.content article p {
  font-size: 1rem;
  line-height: 2rem;
}

.content img {
  width: 30%;
  height: 30%;
  margin: 20px 0;
  object-fit: cover;
}

.content span {
  color: rgb(253, 253, 133);
}

.content table {
  border: 1px solid grey;
  width: 100%;
  border-collapse: collapse;
}

.content table th {
  font-size: 1rem;
  border: 1px solid grey;
}

.content table td {
  font-size: 1rem;
  padding: 5px;
  border: 1px solid grey;
}

/* >= 1400px */

@media screen and (max-width: 1400px) {
  .content img {
    width: 60%;
  }
}

/* >= 1200px */

@media screen and (max-width: 1200px) {
  .content img {
    width: 70%;
  }
}

/* >= 992px */

@media screen and (max-width: 992px) {
  .content img {
    width: 80%;
  }
}

/* >= 768px */

@media screen and (max-width: 768px) {
  .content img {
    width: 100%;
  }
}

/* 0px -> 576px */
@media screen and (max-width: 576px) {
  .content img {
    width: 100%;
  }
}
