section div h1 {
  text-align: left;
  margin: 30px 0;
  font-size: 4rem;
}

section div h2 {
  text-align: left;
  margin: 20px 0;
  font-size: 2.5rem;
}

section div h3 {
  text-align: left;
  margin: 20px 0;
  font-size: 2rem;
}

.content {
  padding: 40px 0;
  border-bottom: 1px solid gray;
}

.content article ul li {
  font-size: 1.5rem;
  line-height: 2rem;
}

.content article p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.content img {
  width: 30%;
  height: 30%;
  margin: 20px 0;
  object-fit: cover;
}

.content span {
  color: rgb(253, 253, 133);
}

/* 0px -> 576px */
@media screen and (max-width: 576px) {
  .content img {
    width: 100%;
    height: 100%;
  }
}
